<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Ballon mail</title>
<link href="css/estilo.css" rel="stylesheet" type="text/css" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!-- include the Tools -->
<link rel="stylesheet" type="text/css" href="css/scrollable-navigator.css"/>	
<link rel="stylesheet" type="text/css" href="css/scrollable-horizontal.css"/>	
<link rel="stylesheet" type="text/css" href="css/scrollable-buttons.css"/>	

<script src="http://cdn.jquerytools.org/1.2.5/full/jquery.tools.min.js"></script>
	 

	<!-- standalone page styling (can be removed) -->
	


<body>

<div id="paisaje">
  <div id="cabecera">
    <div id="nube_login">
      <table width="280" border="0" align="center" cellpadding="0" cellspacing="2">
        <tr>
          <td colspan="3" align="left"><h1>Vicente's Hill</h1></td>
        </tr>
        <tr>
          <td width="70%" align="right" valign="top"><a href="../../logout.php">Cerrar Seción</a></td>
          <td width="118" colspan="2" align="center"><a href="#"><img src="imagenes/user.jpg" width="60" height="61" /></a></td>
        </tr>
      </table>
    </div>
    <img src="imagenes/logobaloon.png" width="302" height="157" />
    <div id="contenido">
      <div id="col_central">
        <div id="papiro">
          <table width="670" height="358" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="132" rowspan="3" valign="middle" background="imagenes/papiro/papiro_01.png" style="background-position:right; background-repeat:no-repeat"><p><a href="#">Guardar mensaje</a><a href="#">Devolver al cielo</a><a href="#">Responder</a><a href="#">Eliminar</a><a href="#">Reportar abuso</a><a href="#">Bloquear usuario</a><a href="#">Peticion de contacto</a></p></td>
              <td height="30" background="imagenes/papiro/papiro_02.png" style="background-position:bottom; background-repeat:no-repeat">&nbsp;</td>
              <td width="40" rowspan="3" background="imagenes/papiro/papiro_03.png" style="background-position:left; background-repeat:no-repeat">&nbsp;</td>
            </tr>
            <tr>
              <td height="270" valign="top" style="background-image:url(imagenes/papiro/papiro_03big.png); background-position:center"><div id="papiro_central">
                <h1>Quando me empiece a quedar solo</h1>
                <p>Tendré los ojos muy lejos <br />
                  y un cigarrillo en la boca, <br />
                  el pecho dentro de un hueco <br />
                  y una gata medio loca. </p>
                <p>Un escenario vacío, <br />
                  un libro muerto de pena, <br />
                  un dibujo destruído <br />
                  y la caridad ajena.</p>
                <p>Tendré los ojos muy lejos <br />
                  y un cigarrillo en la boca, <br />
                  el pecho dentro de un hueco <br />
                  y una gata medio loca. </p>
                <p>Un escenario vacío, <br />
                  un libro muerto de pena, <br />
                  un dibujo destruído <br />
                  y la caridad ajena.</p>
                <h3></h3>
              </div></td>
            </tr>
            <tr>
              <td width="480" height="47" background="imagenes/papiro/papiro_05.png" style="background-position:top; background-repeat:no-repeat">&nbsp;</td>
            </tr>
          </table>
        </div>
      </div>
      <div id="col_lateral"><img src="imagenes/bnews.png" width="87" height="29" /><img src="imagenes/bnews_foto.jpg" width="100" height="66" />
        <p>Concurso de Literatura<br />
        Se realizara un concurso de literatura el dia 30/02/2011 a las 21:00h en la biblioteca nacional.</p> 
      </div>

    </div>
  </div>
  <div id="bajomenu">
   <div id="menuback">
   <div id="menu"><a href="hill.html">Hill</a> <a href="enviar_globo.html">enviar globo</a> <a href="#">bitácora</a> <a href="#">vuelos</a> <a href="#">contactos</a> <a href="#">perfil</a> <a href="#">bNews</a></div>
   </div>
   <div id="contenido_menu">
   <div id="mensajes">
     <div class="navi"></div>
	 <a class="prev browse left"></a>
     

<!-- root element for scrollable -->
<div class="scrollable" id="browsable">   
   
   <!-- root element for the items -->
   <div class="items">
     <div><a href="#"><img src="imagenes/msj1.png" width="85" height="140" border="0" /></a>
     <a href="#"><img src="imagenes/msj1.png" width="85" height="140" border="0" /></a>
     <a href="#"><img src="imagenes/msj1.png" width="85" height="140" border="0" /></a>
     <a href="#"><img src="imagenes/msj1.png" width="85" height="140" border="0" /></a>
     <a href="#"><img src="imagenes/msj1.png" width="85" height="140" border="0" /></a>
	</div>
	
    <div> 
	<a href="#"><img src="imagenes/msj2.png" width="85" height="140" border="0" /></a>
    <a href="#"><img src="imagenes/msj2.png" width="85" height="140" border="0" /></a>
    <a href="#"><img src="imagenes/msj2.png" width="85" height="140" border="0" /></a>
    <a href="#"><img src="imagenes/msj2.png" width="85" height="140" border="0" /></a>
    <a href="#"><img src="imagenes/msj2.png" width="85" height="140" border="0" /></a>	
	</div>
	<div> 
	<a href="#"><img src="imagenes/msj3.png" width="85" height="140" border="0" /></a>
    <a href="#"><img src="imagenes/msj3.png" width="85" height="140" border="0" /></a>
    <a href="#"><img src="imagenes/msj3.png" width="85" height="140" border="0" /></a>
	</div>
     </div> 
	 </div> 
   
	<a class="next browse right"></a>
	<div class="naviPag">1 de 3</div>
  </div>
 
 




<!-- javascript coding -->
<script>
// What is $(document).ready ? See: http://flowplayer.org/tools/documentation/basics.html#document_ready
$(document).ready(function() {

// initialize scrollable together with the navigator plugin
$("#browsable").scrollable().navigator();	
});
</script>


   <p><a href="#1" class="boton_bajomenu">Nuevos mensajes</a></p>
     <p>
       <a href="#2" class="boton_bajomenu">Mensajes leidos</a></p>
   </div>
  </div>
<div id="pieback">
<div id="pie"><a href="#">Español</a> <a href="#">English</a></div>
</div>
</div>

</body>
</html>
